<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" th:href="@{/lib/layuimini/lib/layui-v2.5.5/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/layuimini/css/public.css}" media="all">

    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div style="margin-top: 10px">
            <button type="button" class="layui-btn layui-btn-normal" id="btn-expand">全部展开</button>
            <button type="button" class="layui-btn layui-btn-normal" id="btn-fold">全部折叠</button>
            <button type="button" class="layui-btn layui-btn-danger" lay-submit="lay-submit" lay-filter="addModule">添加模块</button>
        </div>
        <div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script th:src="@{/lib/layuimini/lib/layui-v2.5.5/layui.js}"></script>
<script th:src="@{/lib/layuimini/js/lay-config.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.use(['table', 'treetable'], function () {
        let $ = layui.jquery;
        let form = layui.form;
        let table = layui.table;
        let treetable = layui.treetable;

        // 渲染表格
        layer.load(2);
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'authorityId',
            treePidName: 'parentId',
            elem: '#munu-table',
            url: '/rbacResource/dataList',
            page: false,
            cols: [
                [
                {type: 'numbers'},
                {field: 'name', minWidth: 200, title: '权限名称'},
                {field: 'authority', title: '权限标识'},
                {field: 'menuUrl', title: '菜单url'},
                {field: 'orderNumber', width: 80,  title: '排序号'},
                {
                    field: 'isMenu', width: 80, align: 'center', templet: function (d) {
                        if (d.isMenu == 1) {
                            return '<span class="layui-badge layui-bg-gray">按钮</span>';
                        }
                        if (d.parentId == -1) {
                            return '<span class="layui-badge layui-bg-blue">目录</span>';
                        } else {
                            return '<span class="layui-badge-rim">菜单</span>';
                        }
                    },
                },
                {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
            ]
            ],
            done: function () {
                layer.closeAll('loading');
            }
        });

        form.on('submit(addModule)', function(data) {
            let urlForAdd = /*[[@{/rbacResource/toAdd}]]*/ '';
            urlForAdd += "?pid=";
            layer.open({
                type : 2,
                content : urlForAdd,
                title : '添加',
                area : [ '800px', '600px' ],
                maxmin : true
            });
        });

        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });

        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            } else if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        });
    });
    /*]]>*/
</script>
</body>
</html>