<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" />
<link rel="stylesheet" th:href="@{/css/login/v1/normalize.css}" />
<link rel="stylesheet" th:href="@{/css/login/v1/login.css}" />

</head>

<body>

<div class="login">
	<h1>Login</h1>
	<form method="post" class="layui-form">
		<input type="text" name="username" placeholder="用户名" lay-verify="required" />
		<input type="password" name="password" placeholder="密码" lay-verify="required" />
		<button type="submit" class="btn btn-primary btn-block btn-large" lay-submit="" lay-filter="login" id="login">登录</button>
	</form>
</div>

<script th:src="@{/lib/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var loginUrl = /*[[@{/login}]]*/ '';
    var indexUrl = /*[[@{/index}]]*/ '';

    layui.use([ 'form', 'layer', 'jquery', 'element' ], function() {
        var $ = layui.jquery;
        var form = layui.form;

        /** 监听登陆提交 */
        form.on('submit(login)', function(data) {
            // 弹出loading
            var loginLoading = top.layer.msg('登陆中，请稍候', {
                icon : 16,
                time : false,
                shade : 0.8
            });
            // 登陆验证
            $.ajax({
                url : loginUrl,
                type : 'post',
                dataType : 'json',
                data : data.field,
                success : function(result) {
                    top.layer.close(loginLoading);
                    if (result.success) {
                        window.location.href = indexUrl;
                    } else {
                        layer.msg(result.msg, {
                            icon : 2
                        });
                    }
                },
                error: function (result, type) {
                    window.location.href = loginUrl;
                }
            });
            return false;
        });

        //回车登录
        $(document).keydown(function(e) {
            if (e.keyCode === 13) {
                $("#login").trigger("click");
            }
        });

        $(".login").height($(window).height());
        var loginHeight = 380 - ((960 - $(window).height()) / 2);
        $(".loginbox").css("margin-top", loginHeight);

    });


    /*]]>*/
</script>


</body>
</html>
